{#  https://docs.djangoproject.com/en/2.1/ref/contrib/auth/  #}

{#  use with syntax: {{ user.value }}  #}

{# 
    This template has access to these objects: user, form, error
    user: username, email
    form has the following fields whose content all need to go in the POST request:
    visible_title, content, perp_name, place
    Example: {{ form.perp_name }}
    You can also just do {{ form }} and then style it from there
    error: gets the error text from the backend for form validation. Use it like {{ error }}
#}


{% extends "base_generic.html" %} 

{% block styles %}
<style>
    
</style>
{% endblock %} 


{% block content %}

<div class="bar"></div>
<div class="container">
    <h1>Regina</h1>
    <h2>Welcome {{ user.username }}</h2>
    <div class="progress">
        
<form action="POST"></form>

    </div>
</div>
<br>
{% endblock %} 

{% block scripts %} 

<script>

</script>

{% endblock %}