<!-- {#  https://docs.djangoproject.com/en/2.1/ref/contrib/auth/  #} -->
<!-- {#  use with syntax: {{ user.value }}  #} -->

{% extends "base_generic.html" %}

{% block content %}

<div class="new-event-form-container">
    <h1>new event</h1>
    <p id="new-event-form-directions">be as detailed or succinct as you're comfortable with.  this information will only ever be read by you and machines.</p>


        <form action="POST">


        </form>
</div>







{% endblock %}









{% block scripts %}


{% endblock %}
