{% extends "base_generic.html" %}

{% block styles %}
<link rel="stylesheet" href="../../static/regina/style.css">
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}


<div class="login-flex-container">

    <div class="login-container">
        <h1 class="login-text">log in</h1>
        <form method="post" action="{% url 'login' %}" class="login-flex">
            {% csrf_token %}
            <div>
                <label>Email</label>
                <input type="text" name="username" required id="id_username"></input>

            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" required id="id_password"></input>
            </div>

            <div>
                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </div>

        </form>
        {# Assumes you setup the password_reset view in your URLconf #}
        <p id="lost-pass"><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>

    <div class="login-container">
        <h1 class="login-text">sign up</h1>
            <form method="post" action="{% url 'signup' %}" class="login-flex">
                {% csrf_token %}
                <div>
                    <label>Email</label>
                    <input type="text" name="username" required id="id_username"></input>

                </div>
                <div>
                    <label>Password</label>
                    <input type="password" name="password" required id="id_password"></input>
                </div>
                <div>
                    <input type="submit" value="sign up" />
                </div>
            </form>
    </div>
</div>

<!-- <form method="post" action="{ url 'signup' }">
  {% csrf_token %}

  <div>
    <h1>Sign Up</h1>
    <td>Email</td>
    <td>{{ form.email }}</td>
  </div>
  <div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </div>

  <div>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>

</form> -->



{% endblock %}
